body {
background-color: #fefefd;
color: #131313;
}

.navbar-default{
  /*opacity: 0.5;*/
  /*color:red;*/
}

.navbar-default .navbar-brand{
  color:#ff5400;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a{
  color:#ff5400;
}

#experienceTitle{
  text-align: center;
  font-size: 30px;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage md-content {
    padding-bottom: 200px; }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
    margin: 10px 0 0 25px; }

.userPic{
  height:250px;
  width:250px;
}

body div h1 {
  text-align: center;
}

.google-map{
  height:250px;
  width:250px;
  margin-left: 50px;
}

.searchForm{
  text-align: center;

}

li{
  list-style: none;
}

#map {
        height: 300px;
        width: 300px;
      }



.about{
  margin-top: 100px;
}

.showExperience{
  margin-top: 100px;
}

.users{
  margin-top: 100px;
}

.searchFormContainer{
  height:650px;
  width:100%;
  border: 1px solid white;
  margin-top:80px;
  background-color: white;

}

.searchForm{
  margin-top: 500px;
}

#searchResults{
  margin-top:200px;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 650px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("../img/pic2.jpg");
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
#searchResultDiv{
  border:1px solid black
}
