
<div class="homePage" ng-controller="LoginController as login">
    <div class="shader"></div>
    <div class="centered">
      <h1 id="homeBannerTitle">wdi project four</h1>
      <h5 class="homeBanner">an angular single page application made so you can browse for your next festival!</h5>
      <button class="github" ng-click="login.authenticate('eventbrite')"> Sign in with Eventbrite</button>
      <button ui-sref="experiences" class="facebook" ng-click='login.authenticate("github")'><i class="fa fa-facebook-square"></i> Sign in with Facebook</button>
    </div>
  </div>
</div>
